<div class="admin-container">
    <h2 class="text-center">Admin Dashboard - Utenti Registrati</h2>
    <button class="btn btn-logout" (click)="logout()">Logout</button>
    <div class="row mt-4">
      <div class="col-md-6">
        <h4>Elenco Utenti</h4>
        <ul class="list-group">
          <ng-container *ngFor="let user of users; let i = index">
            <li *ngIf="i > 0" class="list-group-item d-flex justify-content-between align-items-center">
              {{ user.username }}
              <div class="button-container mt-3">
                <button class="btn btn-info" (click)="loadUserImages(user.id)">Vedi Immagini</button>
              </div>
            </li>
          </ng-container>
        </ul>
      </div>
  
      <div class="col-md-6">
        <h4>Immagini dell'Utente Selezionato</h4>
        <div *ngIf="selectedUserImages.length > 0" class="row">
          <div class="col-md-4 mb-4" *ngFor="let image of selectedUserImages">
            <div class="card">
              <img *ngIf="image.url" [src]="image.url" class="card-img-top img-fluid" alt="{{ image.filename }}" />
              <div class="card-body">
                <h5 class="card-title">{{ image.filename }}</h5>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="selectedUserImages.length === 0">
            <p class="text-danger">Non sono presenti immagini per l'utente selezionato.</p>
        </div>
      </div>
    </div>
  </div>
  