<div class="container">
    <h2>Recupera la Password</h2>
    <form (ngSubmit)="onSubmit(forgotPasswordForm)" #forgotPasswordForm="ngForm">
        <div>
            <label for="email">Email:</label>
            <input 
                type="email" 
                id="email" 
                required 
                [(ngModel)]="email" 
                name="email" 
                class="form-control">
        </div>
        <div class="form-buttons">
            <button type="submit" class="btn btn-primary" [disabled]="forgotPasswordForm.invalid">Invia</button>
        </div>
    </form>
    <div *ngIf="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
