<div class="center-content">
  <!-- Navbar -->
  <header>
    <nav class="navbar">
      <ul class="navbar-list">
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Registrati</a></li>
      </ul>
    </nav>
  </header>

  <div id="home-cover-content">
    <h1>Carica e condividi le tue immagini</h1>
    <p class="c20 center-box text-align-center phone-hide phablet-hide">
      Registrati e inizia a condividere le tue immagini.
    </p>

    <button (click)="goToRegister()" class="form-buttons">Registrati</button>
    
    <p>Disponi già di un accesso? <a href="/login">Accedi</a></p>
  </div>
</div>
